<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="@Href("~/favico.ico")" />

    <link rel="stylesheet" href="@Href("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="@Href("~/Content/css/ionicons.min.css")" />
    <link rel="stylesheet" href="@Href("~/Content/css/style.min.css")">
    <link rel="stylesheet" href="@Href("~/Content/css/_all-skins.min.css")">
    <link rel="stylesheet" href="@Href("~/Content/css/blue.css")">
    <link rel="stylesheet" href="@Href("~/Content/css/morris.css")">
    <link rel="stylesheet" href="@Href("~/Content/css/jquery-jvectormap-1.2.2.css")">
    <link rel="stylesheet" href="@Href("~/Content/css/datepicker3.css")">
    <link rel="stylesheet" href="@Href("~/Content/css/daterangepicker-bs3.css")">
    <link rel="stylesheet" href="@Href("~/Content/css/bootstrap3-wysihtml5.min.css")">
    <link rel="stylesheet" href="@Href("~/Content/css/jquery.growl.css")" />
    <link rel="stylesheet" href="@Href("~/Content/css/dataTables.bootstrap.css")" />
    <link rel="stylesheet" href="@Href("~/Content/css/select2.min.css")" />
    <link rel="stylesheet" href="@Href("~/Content/css/all.css")" />
    <link rel="stylesheet" href="@Href("~/Content/css/jquery.growl.css")" />
    <link rel="stylesheet" href="@Href("~/Content/plugins/sweet-alert/sweet-alert.css")" />
    <link rel="stylesheet" href="@Href("~/Content/css/loading.css")" />
    <link rel="stylesheet" href="@Href("~/Content/css/font-awesome.css")" />
    <link href="@Href("~/Content/node_modules/select2/dist/css/select2.min.css")" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="@Href("~/favicon.ico")" type="image/x-icon" />

    <script src="@Href("~/Content/js/jQuery-2.1.4.min.js")"></script>
    <script src="@Href("~/Content/js/jquery.maskMoney.min.js")"></script>

    <script src="@Href("~/Content/node_modules/select2/dist/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Href("~/Content/node_modules/select2/dist/js/select2.min.js")"></script>
    <script src="@Href("~/Content/node_modules/select2/dist/js/select2.full.js")"></script>
    <script src="@Href("~/Content/node_modules/select2/dist/js/select2.js")"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            var pagina = $(location).prop('pathname').split('/')[2];
            //pagina = pagina.toLowerCase();

            switch (pagina) {
                case "usuario":
                    $("#menusistema").addClass('active');
                    $("#usuariomenu").addClass('active');
                    break;
                case "perfis":
                    $("#menusistema").addClass('active');
                    $("#perfilmenu").addClass('active');
                    break;
                default:
                    var paginacompleta = "/admin/" + pagina;
                    $('a[href="' + paginacompleta + '"]').parent().addClass('active');
                    break;
            }

            if ('@ViewData["SUCESSO"]' != '') {
                $.growl.notice({ title: 'Sucesso!', message: '@ViewData["SUCESSO"]' });
            }
            else if ('@ViewData["ATENCAO"]' != '') {
                $.growl.warning({ title: 'Ops!', message: '@ViewData["ATENCAO"]' });
            }
            else if ('@ViewData["ERRO"]' != '') {
                $.growl.error({ title: 'Ops!', message: '@ViewData["ERRO"]' });
            }

            $('form').submit(function (ev) {
                $('#btnSalvar').addClass("m-progress");
            });

            $("#txtPorcentagem").maskMoney({ thousands: '', decimal: ',' });


            $("input[required], select[required]").attr("oninvalid", "this.setCustomValidity('Required!')");
            $("input[required], select[required]").attr("oninput", "setCustomValidity('')");
        });

        function goBack() {
            window.history.back();
        }
        $(function () {
            var fiveMinutes = 60 * '@Session.Timeout',
                display = $('#timerSession');
            startTimer(fiveMinutes, display);
        });


        //contador regressivo da sessão
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            var interval = setInterval(function () {
                hours = parseInt(timer / 3600, 10)
                minutes = parseInt((timer % 3600) / 60, 10)
                seconds = parseInt(timer % 60, 10);

                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.text("Session expires in: " + hours + ":" + minutes + ":" + seconds);

                if (--timer < 0) {
                    clearInterval(interval);
                    swal({ title: "Ops!", text: "Your session has expired.", type: "warning", showCancelButton: false, confirmButtonColor: "#DD6B55", confirmButtonText: "OK!", closeOnConfirm: false, closeOnCancel: false }, function (isConfirm) { if (isConfirm) { window.location.href = '@Url.Action("logout", "home")'; } });
                }

            }, 1000);
        }

        function SomenteNumero(e) {
            var tecla = (window.event) ? event.keyCode : e.which;
            if ((tecla > 47 && tecla < 58)) return true;
            else {
                if (tecla == 8 || tecla == 0) return true;
                else return false;
            }
        }
    </script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    @{
        int idUser = 0;
        string nome = string.Empty;
        if (((Yourcode.CMS.Models.USUARIO)Session["USUARIO"]) != null)
        {
            idUser = ((Yourcode.CMS.Models.USUARIO)Session["USUARIO"]).ID;
            nome = ((Yourcode.CMS.Models.USUARIO)Session["USUARIO"]).NOME.ToString();
        }
        else
        {
            <script type="text/javascript">
                window.location.href = '@Url.Action("LogOut", "Home")';
            </script>
        }
    }

    <style>
        .skin-blue .main-header .logo {
            background-color: @ViewBag.CorFundoMenu;
        }

        .skin-blue .main-header .navbar {
            background-color: @ViewBag.CorFundoMenu;
        }

        .skin-blue .main-header .logo:hover {
            background-color: @ViewBag.CorFundoMenu;
            opacity:0.9;
        }

        .skin-blue .main-header .navbar .sidebar-toggle:hover {
            background-color: @ViewBag.CorFundoMenu;
            opacity:0.9;
        }
    .btn-primary {
        background-color: @ViewBag.CorFundoMenu.ToString();
        border:none !important;
    }

    footer strong a {
        color: @ViewBag.CorFundoMenu !important;
    }

    footer strong a:hover {
        color: @ViewBag.CorFundoMenu !important;
        opacity:0.9;
    }
        #btnSalvar:hover {
                    background-color: @ViewBag.CorFundoMenu.ToString();
                    opacity:0.8;
        }
        .skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
            border-left-color: @ViewBag.CorFundoMenu.ToString();
        }

        #btnCadastrar:hover {
                    background-color: @ViewBag.CorFundoMenu.ToString();
                    opacity:0.8;
        }

    .box.box-primary {
        border-top-color: @ViewBag.CorFundoMenu.ToString();
    }

        .box {
            border-top: 3px solid @ViewBag.CorFundoMenu.ToString();
        }

        @@media (max-width:575px)
        {
            .skin-blue .main-header .navbar .dropdown-menu li a:hover{
                                    background-color: @ViewBag.CorFundoMenu.ToString();
color:#fff !important;
            }
        }

    </style>

    <div class="wrapper">
        <header class="main-header">
            <a href="@Href("~/dashboard")" class="logo">
                <span class="logo-mini"><i class="ion ion-home"></i></span>
                <span class="logo-lg" style="font-size:13px"><b>@ViewBag.Empresa </b></span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @*<li class="display-none-mobile"><a href="@Href("~/")" class="btn btn-primary btn-flat" target="_blank"><i class="glyphicon glyphicon-open"></i> Visualizar site</a></li>*@
                        <li class="display-none-mobile"><a href="#" id="timerSession"></a></li>
                        <li class="dropdown user user-menu" style="margin-right: 10px;">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-user"></i> @nome <i class="caret"></i></a>
                            <ul class="dropdown-menu" style="width: 100px;">
                                <li style="margin: 10px 0;" class="text-center"><a href="@Href("~/sistema/editarperfil")"><i class="fa fa-pencil"></i> Edit Profile</a></li>
                                <li role="presentation" class="divider"></li>
                                <li style="margin: 10px 0;" class="text-center"><a href="@Href("~/home/logout")"><i class="fa fa-sign-out"></i> Exit</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        @Html.Partial("_Navbar")

        @RenderBody()

        <footer class="main-footer">
            <div class="pull-left text-center">
                <strong>IP: @Session["IP"]</strong> 
            </div>
            <div class="pull-right text-center">
                <strong>&copy; @DateTime.Now.Year@*<a href="https://yourcode.com.br" target="_blank">YourCode</a>*@.</strong> All rights reserved.
            </div>
            <br />
        </footer>

    </div>

    <script src="@Href("~/Content/js/jquery-ui.min.js")"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="@Href("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Href("~/Content/js/raphael-min.js")"></script>
    <script src="@Href("~/Content/js/morris.min.js")"></script>
    <script src="@Href("~/Content/js/jquery.sparkline.min.js")"></script>
    <script src="@Href("~/Content/js/jquery-jvectormap-1.2.2.min.js")"></script>
    <script src="@Href("~/Content/js/jquery-jvectormap-world-mill-en.js")"></script>
    <script src="@Href("~/Content/js/jquery.knob.js")"></script>
    <script src="@Href("~/Content/js/moment.min.js")"></script>
    <script src="@Href("~/Content/js/daterangepicker.js")"></script>
    <script src="@Href("~/Content/js/bootstrap-datepicker.js")"></script>
    <script src="@Href("~/Content/js/bootstrap3-wysihtml5.all.min.js")"></script>
    <script src="@Href("~/Content/js/jquery.slimscroll.min.js")"></script>
    <script src="@Href("~/Content/js/fastclick.min.js")"></script>
    <script src="@Href("~/Content/js/app.min.js")"></script>
    <script src="@Href("~/Content/js/jquery.growl.js")"></script>
    <script src="@Href("~/Content/plugins/sweet-alert/sweet-alert.min.js")"></script>
    <script src="@Href("~/Content/js/select2.full.min.js")"></script>
    <script src="@Href("~/Content/js/icheck.min.js")"></script>
    <script src="@Href("~/Content/js/jquery.inputmask.js")"></script>
    <script src="@Href("~/Content/js/bootstrap-timepicker.min.js")"></script>
    <script src="@Href("~/Content/js/jquery.dataTables.min.js")"></script>
    <script src="@Href("~/Content/js/dataTables.bootstrap.min.js")"></script>
    <script src="@Href("~/Content/js/jquery.slimscroll.min.js")"></script>
    <script src="@Href("~/Content/js/demo.js")"></script>
    <script src="@Href("~/Content/js/jquery.PrintArea.js")"></script>
    <script src="@Href("~/Content/js/dashboard.js")"></script>
    <script src="@Href("~/Content/js/demo.js")"></script>
    <script src="@Href("~/Content/js/jquery.growl.js")"></script>
    <script src="https://cdn.ckeditor.com/4.5.7/full/ckeditor.js"></script>


    <!-- Script para imprimir página -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.print').click(function () {
                $('.contentPrint').printArea();
                return false;
            });

            is_chrome = navigator.userAgent.indexOf('Chrome') > -1;
            is_explorer = navigator.userAgent.indexOf('MSIE') > -1;
            is_firefox = navigator.userAgent.indexOf('Firefox') > -1;
            is_safari = navigator.userAgent.indexOf("Safari") > -1;
            is_opera = navigator.userAgent.indexOf("Presto") > -1;
            is_mac = (navigator.userAgent.indexOf('Mac OS') != -1);
            is_windows = !is_mac;

            if (is_chrome && is_safari) {
                is_safari = false;
            }

            if (is_safari || is_windows) {
                $('html').css('-webkit-font-smoothing', 'subpixel-antialiased');
                $('html').css('-webkit-text-stroke', '1px transparent')
                $('html').css('text-rendering', 'geometricPrecision');
            }


            //Initialize Select2 Elements
            //$(".select2").select2();

            //Datemask dd/mm/aaaa
            $("#datemask").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/aaaa" });
            //Money Euro
            $("[data-mask]").inputmask();

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });

        });
    </script>
</body>
</html>
